/.dev
/.idea
/.vscode
/.env
/bin
/vendors
/config.local.json

/api/scala/redbus/.idea
/api/scala/redbus/target
/api/scala/redbus/project/project
/api/scala/redbus/project/target

/example/scala/target
/example/scala/project/project
/example/scala/project/target
/example/scala/.idea
